access_token                = "YOUR_ACCESS_TOKEN_HERE"
access_token_secret         = "YOUR_ACCESS_TOKEN_SECRET_HERE"
container_username          = "YOUR_CONTAINER_USERNAME_HERE"
container_password          = "YOUR_CONTAINER_PASSWORD_HERE"
database_password           = "YOUR_DATABASE_PASSWORD_HERE"
database_port               = 3306
database_operator_global_ip = "YOUR_DATABASE_OPERATOR_IP_HERE"