access_token           = "YOUR_ACCESS_TOKEN_HERE"
access_token_secret    = "YOUR_ACCESS_TOKEN_SECRET_HERE"
database_password      = "YOUR_DATABASE_PASSWORD_HERE"
os_password            = "YOUR_OS_PASSWORD_HERE"